<nav class="navbar navbar-expand-lg" style="background-color: rgb(3, 12, 29);">
    <div class="container-fluid f-1">


        <i class="bi bi-journal-check p-2" style="color: rgb(177, 204, 252) ; font-size: 25px;"> Agenda</i>
        <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link fs-5" style="color: rgb(177, 204, 252);" href="/">Inicio</a>

                </li>
                <li>
                    <a class="nav-link fs-5" style="color: rgb(177, 204, 252);" href="/login">Entrar</a>
                </li>


            </ul>

        </div>
    </div>
</nav>