<%- include('includes/head') %>    

<body style="background-color: rgb(5, 19, 39) ;">
  
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold" style="color: rgb(187, 202, 228);">404</h1>
            <p class="fs-3" style="color: rgb(187, 202, 228);"> <span class="text-danger">Opps!</span> Pagina não encontrada.</p>
            <p class="lead" style="color: rgb(187, 202, 228);">
                A pagina que você esta procurando não existe!!!
              </p>
            <a href="/" class="btn btn-secondary"><strong style="color: white ;">voltar para pagina inicial</strong></a>

              <img src="./imgs/404.png" alt="">

        </div>
    </div>

</body>
</html>

<%- include('includes/footer') %>    
