<%- include('includes/head') %>
  <%- include('includes/navbar') %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
          <h1 class="text-center" style="color:rgb(177, 204, 252);">Agenda </h1>

          <p class="text-center lead" style="color: rgb(177, 204, 252);">Seus contatos estão a baixo <i
              class="bi bi-journal-text"></i></p>

          <!-- <div class="row">
          <div class="col">
            <div class="alert alert-danger">um erro qualquer</div>
          </div>
        </div> -->
        </div>

        <div style="background-color: rgba(4, 14, 53, 0.986) ;"
          class="container rounded border border-primary border-opacity-10">
          <table style="color: rgb(177, 204, 252) ;" class="table  rounded">
            <i style="color:rgb(177, 204, 252); font-size: 25px;" class="bi bi-person-fill d-flex flex-row-reverse p-1"></i>
            <tr>
              <td>Luiz</td>
              <td>Otavio</td>
              <td>(84) 9 9183-1410</td>
              <td>otavio@email.com</td>
            </tr>

            <tr>
              <td>Luiz</td>
              <td>Otavio</td>
              <td>(84) 9 9183-1410</td>
              <td>otavio@email.com</td>
            </tr>

            <tr>

              <td>Luiz</td>
              <td>Otavio</td>
              <td>(84) 9 9183-1410</td>
              <td>otavio@email.com</td>
            </tr>


            <tr>

              <td>Luiz</td>
              <td>Otavio</td>
              <td>(84) 9 9183-1410</td>
              <td>otavio@email.com</td>
            </tr>

          </table>
        </div>

        <div class="col-lg-2"></div>
      </div>
    </div>

    <%- include('includes/footer') %>